# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
venv/
.env

# Django
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Modelos / dados locais
*.pkl
*.pt
*.bin

# PDFs enviados
media/pdfs/
