# Python / Django
*.pyc
__pycache__/
db.sqlite3

# env
.env
.venv/
venv/
ENV/

# Django / uploads
documentos/
media/
static_root/
staticfiles/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# logs
*.log
